![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

In [1]:
import pandas as pd

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [2]:
crime = pd.read_csv("datasets/US_Crime_Rates_1960_2014.csv")

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [3]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [4]:
crime['Year'] = pd.to_datetime(crime["Year"], format="%Y")

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [5]:
crime.set_index("Year", inplace=True)

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [6]:
crime.drop(columns=["Total"], inplace = True)

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [7]:
crime.loc[crime.index=="1978-01-01", "Vehicle_Theft"]

Year
1978-01-01    1004100
Name: Vehicle_Theft, dtype: int64

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [8]:
crime["Murder"].idxmax()

Timestamp('1991-01-01 00:00:00')

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [9]:
crime.loc[crime.index==crime["Vehicle_Theft"].idxmin(), "Murder"]

Year
1960-01-01    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**